button {
  background: #4997d0;
  border-radius: 3px;
  width: 330px;
  height: 30px;
  border: 1px solid #cccccc;
  outline: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

button:hover {
  background: #5da3d5;
}

button:active {
  background: #4997d0;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 570px) {
  button {
    width: 275px;
  }
}
