.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #cccccc;
  border-top: 1px solid #cccccc;
}
