input {
  width: 330px;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 8px 12px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  color: #000;
  outline: none;
}

input::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  color: #cccccc;
}

input:-ms-input-placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  color: #cccccc;
}

input::-ms-input-placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  color: #cccccc;
}

input::placeholder {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  color: #cccccc;
}

@media (max-width: 570px) {
  input {
    width: 275px;
  }
}
