.modal__layout {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}

.modal__layout .modal__window {
  width: 620px;
  height: 425px;
  background-color: #fff;
  padding: 30px;
  position: relative;
}

@media (max-width: 570px) {
  .modal__layout .modal__window {
    width: 320px;
    height: 537px;
    padding: 20px;
  }
}

.modal__layout .modal__window .modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 570px) {
  .modal__layout .modal__window .modal__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 210px;
  }
}

.modal__layout .modal__window .modal__content .modal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 570px) {
  .modal__layout .modal__window .modal__content .modal__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
}

.modal__layout .modal__window .modal__content .modal__item img {
  width: 330px;
  height: 205px;
  margin-right: 15px;
}

@media (max-width: 570px) {
  .modal__layout .modal__window .modal__content .modal__item img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    margin-bottom: 25px;
    margin-right: 0;
  }
}

.modal__layout .modal__window .modal__content .modal__item .modal__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__layout .modal__window .modal__content .modal__item .modal__comments .modal__comment {
  margin-bottom: 20px;
}

.modal__layout .modal__window .modal__content .modal__item .modal__comments .modal__comment:last-child {
  margin-bottom: 0;
}

.modal__layout .modal__window .modal__content .modal__item .modal__comments .modal__comment p {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  margin-bottom: 5px;
}

.modal__layout .modal__window .modal__content .modal__item .modal__comments .modal__comment p:last-child {
  color: #000000;
  margin-bottom: 0;
}

.modal__layout .modal__window .modal__content .close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  cursor: pointer;
}
