button {
  background: #4997d0;
  border-radius: 3px;
  width: 330px;
  height: 30px;
  border: 1px solid #cccccc;
  outline: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  transition: background 0.2s linear;

  &:hover {
    background: lighten(#4997d0, 5);
  }

  &:active {
    background: #4997d0;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 570px) {
    width: 275px;
  }
}
