.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
