.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #cccccc;
  border-top: 1px solid #cccccc;
}
